<!doctype html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>All about erNiuNiu</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    </head>
    <body>
        <div class="container">
            {%- for flashMessage in app.session.flashBag.get('notice') -%}
                <p class="bg-danger">{{ flashMessage }}</p>
            {%- endfor -%}
        </div>
        <div class="container">
            {%- block content -%}{%- endblock -%}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {%- block inline_javascripts -%}{%- endblock -%}
    </body>
</html>
